.container-produit {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1110px;
  justify-content: center;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-titre {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1110px;
  justify-content: flex-start;
  margin: auto;
  padding: 40px 0;
  padding-left: 10px;
}
