.banner-apropos {
  background-size: cover;
  background-position: center;
  padding: 150px 20px;
  background-image: url(../img/hsitoire6.webp);
  opacity: 0.8;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
