.banner-contact {
  background-size: cover;
  background-position: center;
  padding: 150px 20px;
  height: 450px;
  background-image: url(../img/contact.webp);
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 40px;
}

.box-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1110px;
  margin-bottom: 50px;
}

.box-contactbot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1110px;
  margin-top: 50px;
  text-align: center;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
}

.leftcontact-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 250px;
  background-color: #f2f2f2;
}
