.container-marque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 20px;
}

.box-marque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1110px;
}

.left-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 555px;
  height: 450px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 1110px) {
  .left-box {
    height: 350px;
  }
}

.box-content {
  margin: auto 80px;
}

.box-content p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.image-marque {
  width: 555px;
  height: 450px;
  object-fit: cover;
}

.mobile {
  display: none;
}

/* mediaquerries */

@media screen and (max-width: 1110px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

.logo-marque {
  width: 40px;
  height: 40px;
}
