@import url("nav.css");
@import url("allProduits.css");
@import url("newsletter.css");
@import url("footer.css");
@import url("produit.css");
@import url("apropos.css");
@import url("marque.css");
@import url("contact.css");
@import url("admin.css");
@import url("mediaquerries.css");
<<<<<<< HEAD

body {
  box-sizing: border-box;
}
=======
>>>>>>> de63bc31fc047e70312b08a81679f24d297f2cd9

* {
  margin: 0;
  padding: 0;
}

.head-container {
  border: 1px solid lightgray;
  text-align: center;
  background-color: #fff;
  opacity: 0.9;
  border-radius: 5px;
  padding: 40px;
  width: 400px;
}

.head-container h1,
.head-container p,
.head-container a {
  margin-bottom: 10px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 20px;
  background-image: url(../img/prehome-tinified.webp);
  opacity: 0.8;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button-decouvrir {
  text-decoration: none;
  border: 1px solid black;
  padding: 8px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.img-produit {
  width: 350px;
  height: 350px;
  object-fit: cover;
  background-color: #f2f2f2;
  padding: 30px;
}

.img-shoes {
  width: 350px;
  height: 350px;
  object-fit: cover;
  background-color: #f2f2f2;
  padding: 70px 10px;
}

.img-marque {
  width: 350px;
  height: 350px;
  object-fit: cover;
  background-color: #f2f2f2;
}

.text-a {
  text-decoration: none;
  color: black;
}

.zoom img:hover {
  padding: 2px;
  transition: 0.5s;
}

.zoom-shoes img:hover {
  padding: 50px 2px;
  transition: 0.5s;
}

/* a {
  transition: transform 0.2s ease-out;
}

a:hover {
  transform: translateY(-5px) scale(1.1);
} */

/* button hover effect */

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.btn-holder ::before,
.btn-holder ::after {
  position: absolute;
  content: "";
}

.btn-holder {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
.btn {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.btn span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
}

/*--- btn-1 ---*/
.btn-1::before {
  background-color: rgb(28, 31, 30);
  transition: 0.3s ease-out;
}
.btn-1 span {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}
.btn-1 span:hover {
  color: rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}

/* 4. hover-filled-slide-right */
.btn.hover-filled-slide-right::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.btn.hover-filled-slide-right:hover::before {
  width: 0%;
}

/*----------------------------------*/

/*--- btn-2 ---*/
.btn-2::before {
  background-color: rgb(28, 31, 30);
  transition: 0.3s ease-out;
}
.btn-2 span {
  color: rgb(28, 31, 30);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s;
}
.btn-2 span:hover {
  color: rgb(255, 255, 255);
  transition: 0.2s 0.1s;
}

/* 9. hover-slide-right */
.btn.hover-slide-right::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
}
.btn.hover-slide-right:hover::before {
  width: 100%;
}

<<<<<<< HEAD
section {
  overflow: hidden;
}

/* Styles pour l'aperçu de l'image */
#img-preview {
  display: none; /* Par défaut, l'image est cachée */
  max-width: 500px;
  max-height: auto; /* Limite la hauteur de l'image */
  margin-bottom: 10px;
  border: 1px solid #ddd; /* Bordure légère autour de l'image */
  padding: 5px; /* Espace entre l'image et la bordure */
  border-radius: 5px; /* Coins arrondis pour un look moderne */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
}

/* Styles pour les messages d'erreur */
.msg-error {
  display: flex;
  justify-content: center;
  color: #d8000c; /* Couleur du texte */
  background-color: #ffbaba; /* Couleur de fond */
  border: 1px solid #d8000c; /* Bordure */
  padding: 10px; /* Espacement intérieur */
  margin: 10px 200px 10px 200px; /* Espacement extérieur */
  border-radius: 5px; /* Bords arrondis */
  font-weight: bold; /* Texte en gras */
}

/* Styles pour les messages de succès */
.msg-success {
  display: flex;
  justify-content: center;
  color: #4f8a10; /* Couleur du texte */
  background-color: #dff2bf; /* Couleur de fond */
  border: 1px solid #4f8a10; /* Bordure */
  padding: 10px; /* Espacement intérieur */
  margin: 10px 0; /* Espacement extérieur */
  border-radius: 5px; /* Bords arrondis */
  font-weight: bold; /* Texte en gras */
}

.msg-pos {
  margin-top: 100px;
}
=======
.autre {
  margin-top: 70px;
}

section {
  overflow: hidden;
}
>>>>>>> de63bc31fc047e70312b08a81679f24d297f2cd9
